*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
}
.title-lorem{
    margin-top: 25px;
    text-align: center;
}
#colore-title{
    color: deeppink;
    margin-bottom: 35px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
.box {
    float: left;
    height: 100px;width: calc(100% /3 - 50px);
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    margin: 25px;
    background-color: black;
    color: aliceblue;
    display: block;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.foto{
    float: left;
    width: 100px;
    height: 98px;
}
.box02{
    padding-top: 5px;
    line-height: 30px;
}
.colore:link{
    color: aqua;
}

.colore:hover{
    color: hotpink;
}
.colore:link { 
    text-decoration: none;
}